/*
	red : #DB4C2C;
 	bold red : #771E10;
	bold bold red: #48110C;
	orange : #E38C2D;
	yellow: #EBC137;
  black : #262626;
*/

@font-face {
    font-family: "sourcesanspro";
    src: url("/fonts/sourcesanspro-regular-webfont.eot");
    src: url("/fonts/sourcesanspro-regular-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),
         url("/fonts/sourcesanspro-regular-webfont.woff") format("woff"),
         url("/fonts/sourcesanspro-regular-webfont.ttf") format("truetype"),
         url("/fonts/sourcesanspro-regular-webfont.svg#source_sans_problack") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "sourcesansprosemibold";
    src: url("/fonts/sourcesanspro-semibold-webfont.eot");
    src: url("/fonts/sourcesanspro-semibold-webfont.eot?#iefix") format("embedded-opentype"),
         url("/fonts/sourcesanspro-semibold-webfont.woff2") format("woff2"),
         url("/fonts/sourcesanspro-semibold-webfont.woff") format("woff"),
         url("/fonts/sourcesanspro-semibold-webfont.ttf") format("truetype"),
         url("/fonts/sourcesanspro-semibold-webfont.svg#source_sans_problack") format("svg");
    font-weight: normal;
    font-style: normal;
}

*{
		font-family: "sourcesanspro";
}

a:hover{
  text-decoration: none;
  color: inherit;
}

body{
  background: white;
  margin: 0;
  padding: 0;
}

.yield{
  min-height: 100vh;
  margin-top: -4.9em;
}

.yield-chld{
  padding-top: 5em;
}

h1, h2{
	font-family: "sourcesansprosemibold";
}

.com{
	height: 37em;
	margin: 0;
	padding: 0;
	border: 1px solid transparent;
  margin-top: -.1em;
	background-position: 0px 0px;
	background-image: url("/images/w.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
  z-index: -1;
	background-size: cover;
	text-align: center;
}

.sub-bck{
	background: rgba(219,76,44,.5);
	margin-top: -37.1em;
	height: 37.1em;
}

.com h1{
	margin-top: 4.5em;
	color: white;
	font-size: 3em;
	z-index: 2;
}

.com1, .com2{
	text-align: center;
	padding: 1em;
}

.com1 div, .com2 div{
	display: inline-block;
	vertical-align: top;
	padding: 1em;
	text-align: left;
	width: 30em;

}

.com2{
	background: #DB4C2C;
}

.com2 div{
	width: 15em;
	text-align: center;
	padding: 3em;
}

.com2 div p{
	color: white;
	margin-top: 1em;
	font-size: 1.3em;
}

.com2 div img{
	width: 1.6em;
	padding: 1em;
	border-radius: 50%;
	border: 2px solid white;
	margin: auto;
}

.com1 div img{
	width: 22em;
}

.com3{
	background: #E38C2D;
	height: 10em;
	text-align: center;
	padding: 2em;
  margin-bottom: -3em;
}

.com3 h2{
	color: white;
}

.com3 .red-btn{
	width: 15em;
}

.red-btn, .white-btn{
	color: white;
	background: #DB4C2C;
	border-radius: .2em;
  border: none;
	display: block;
	width: auto;
	padding: .6em 1em !important;
	font-size: 1.2em;
	margin: auto;
	border-bottom: 2px solid #771E10;
}

.white-btn{
  background: #e8e8e8;
  color: #262626;
  border-bottom: 2px solid #c2c2c2;
}

.white-btn:hover{
  background: #d9d9d9;
}

.fake .white-btn{
  background: white;
  color: #262626;
  border-bottom: 2px solid rgb(237,237,237);
  cursor: auto;
}

.fake .white-btn:hover{
  background: white;
}

.red-btn:hover{
	background: #771E10;
	cursor: pointer;
	border-bottom: 2px solid #48110C;
  color: white;
}

.com .red-btn{
	width: 14em;
	margin-top: 2em;
}

.red-btn img{
	width: 1em;
	vertical-align: -.1em;
	margin-left: .2em;
}

.non-nude{
  margin-top: -.1em !important;
}

header{
	padding: .3em;
	background: white;
  border-bottom: 1px solid #E4E4E4;
  -webkit-box-shadow: 0px 3px 11px -7px rgba(194,194,194,1);
  -moz-box-shadow: 0px 3px 11px -7px rgba(194,194,194,1);
  box-shadow: 0px 3px 11px -7px rgba(194,194,194,1);
  text-align: center;
}

header div{
  position: absolute;
  right: 0;
  margin-top: -2.4em;
}

header .red-btn, header .white-btn{
  position: absolute;
  font-size: .9em;
  font-family: "sourcesansprosemibold";
  right: 0;
  margin-right: 9.5em;
  margin-top: .1em;
  padding: .5em 1em !important;
}

header .nude-img{
  position: absolute;
  right: .5em;
  margin-top: .4em;
  height: 1.3em;
  width: auto;
}

header .white-btn{
  margin-left: .6em;
  margin-right: 2em;
}

header div img{
  width: 2em;
  height: 2em;
  margin: 0;
}

header div .header-icn img{
  margin-right: .7em;
}

header div a:last-of-type img{
  margin-right: 2em;
}

header .right-links{
  width: 7.2em;
  left: 0;
  margin-top: .2em;
  padding-left: 2em;
  text-align: left;
}

header .right-links a{
  width: 2em !important;
  float: left;
  margin-right: .4em;
}

header img{
	height: 2.5em;
	margin-right: 2em;
	margin-left: 2em;
  margin-top: .2em;
}

p{
	margin: .2em 0;
}

.img-cntnr{
	width: 15em;
	display: inline-block;
}

.user-imgs img{
	width: 8em;
	height: 8em;
	margin-right: 1em;
}

.basic-cntnr{
  width: 27em;
  margin: auto;
  padding: 2em;
  border-radius: .3em;
  padding-bottom: 4em;
  background: white;
}

.basic-cntnr h1{
  color: #DB4C2C;
  font-size: 1.6em;
}

.errors-cntnr{
  width: 25em;
  margin:auto;
  margin-top: 1em;
  margin-bottom: -3em;
}

.flash{
  width: 80%;
  margin: 1em auto;
  padding: .8em 2em;
  border-radius: .2em;
  color: white;
}

.error{
  background: #DB4C2C;
}

.success{
  background: #1dd1a1;
}

.notice{
  background: #ff9f43;
}

.errors-cntnr p{
  opacity: .8;
  margin: 0;
}

.basic-cntnr form{
  text-align: left;
}

.basic-cntnr form .field{
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
  padding: .5em 1em;
}

.basic-cntnr form .red-btn{
  float: right;
}

.label{
  opacity: .8;
}

.counter{
  background: #DB4C2C;
  position: absolute;
  color: white;
  width: 1.6em;
  height: 1.6em;
  z-index: 2;
  font-size: .8em;
  margin-top: -.3em;
  text-align: center;
  margin-left: -1.6em;
  border-radius: 50%;
}

.search-cntnr{
  display: flex;
  align-items: stretch;
}

.usrs, .search-bar, .suggestions-cntnr{
  margin: 1em 2em;
  padding: 2em;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(194,194,194,1);
  -moz-box-shadow: 0px 3px 9px 0px rgba(194,194,194,1);
  box-shadow: 0px 3px 9px 0px rgba(194,194,194,1);
  background: white;
}

.suggestions-cntnr{
  text-align: center;
}

.search-bar h2, .suggestions-cntnr h2{
  margin: 0;
  margin-top: -.5em;
  font-size: 1.3em;
  color: #DB4C2C;
}

.usrs{
  flex:3;
  text-align: center;
  position: relative;
  text-align: center;
}

.search-bar{
  flex:1;
  margin-right: 0em;
  height: 37em;
}

.ui-slider{
  margin-top: -.5em;
  border: none !important;
  background: rgb(234,234,234) !important;
  border-radius: 3em !important;
}

.ui-slider .ui-slider-range {
  background: #EBC137;
}

.ui-slider-handle{
  border: 3px solid rgb(234,234,234) !important;
  border-radius: 50% !important;
  -webkit-box-shadow: 0px 3px 11px -5px rgba(104,104,104,1);
  -moz-box-shadow: 0px 3px 11px -5px rgba(104,104,104,1);
  box-shadow: 0px 3px 11px -5px rgba(104,104,104,1);
  background: #E38C2D !important;
  margin-top: -.1em;
  cursor: pointer;
}

.age-rank{
  border: none!important;
  background: white !important;
  box-shadow :none !important;
  width: 3.2em;
  display: inline-block;
  vertical-align: 0em;
  font-family: "sourcesanspro" !important;
  opacity: 1 !important;
}

.completed{
  width: 15em;
  text-align: center;
  background: #EBC137;
  border-bottom-right-radius: .5em;
  border-bottom-left-radius: .5em;
  color: white;
  margin: auto;
  margin-top: -.1em;
  z-index: -6;
  padding: .3em;
}

.usr-result{
  background: rgb(249,249,249);
  border: 1px solid rgb(244,244,244);
  width: 10em;
  height: 15em;
  margin: .5em;
  display: inline-block;
  vertical-align: top;
}

.usr-result .name{
  font-family: "sourcesansprosemibold";
  margin-top: .8em;
}

.paginate{
  margin-top: 1em;
}

.paginate div input[type="submit"], .paginate div:nth-child(2){
  margin: 0 .4em;
  padding: .4em 1em;
  border-radius: .2em;
  color: white;
	background: #DB4C2C;
  border: none;
  border-bottom: 2px solid #771E10;
}

.paginate div, .paginate div input[type="submit"]{
  display: inline-block;
  vertical-align: top;
}

.usr-result .age{
  opacity: .5;
  margin-top: -.2em;
}

.its_a_match{
  background: #DB4C2C;
  width: 20em;
  margin: auto;
  padding: .2em;
  text-align: center;
  color: white;
  border-radius: .2em;
  padding: .4em;
}

.match{
  width: 2em !important;
  height: auto !important;
  border: none !important;
  margin: 0 !important;
  padding: 0 !important
}

.filters{
  text-align: left;
}

.filters .filter-box{
  border: 1px solid rgb(231,231,231);
  display: inline-block;
  opacity: .7;
  font-size: 1em;
  padding: 1em !important;
  box-shadow: none;
  border-radius: 0;
  background:white !important;
}

.filters img{
  width: .8em;
  margin-left: .5em;
}

.usr-result img{
  width: 10em;
  height: 10em;
}

.center-cntnt{
  text-align: center;
}

.tags-cntnr p{
  display: inline-block;
  background: #DB4C2C;
  border-radius: .2em;
  color: white;
  padding: .2em .5em;
  margin-right: .1em;
}

.radio-cntnr .radio{
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  margin-bottom: -.2em;
  margin-right: .3em;
}

.radio-cntnr .radio input[type="radio"] {
	opacity: 0;
	width: 0;
  height: 0;
}

.radio-cntnr .radio input[type="radio"]:active ~ label {
  opacity: 1;
}

.radio-cntnr .radio input[type="radio"]:checked ~ label {
  opacity: 1;
	border: 1px solid #DB4C2C;
}

.radio-cntnr .radio label{
	border: 1px solid #DB4C2C;
  background: #DB4C2C;
	box-sizing: border-box;
	display: inline-block;
  vertical-align: top;
	height: 3em;
  width: 3em;
  border-radius: .2em;
	cursor: pointer;
	opacity: .3;
	transition: all .3s ease-in-out;
	&:hover, &:focus, &:active {
		border: 1px solid rgba($font-color,.3);
	}
}

.radio-cntnr .radio label img{
  width: 2em;
  margin: .45em;
}

.checkbox-cntnr label{
    position: relative;
    cursor: pointer;
    padding: 0;
}

.checkbox-cntnr label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
}

.checkbox-cntnr input{
  opacity: 0;
  position: absolute;
}

.checkbox-cntnr label:before{
  border: 2px solid #E38C2D;
  vertical-align: -5px;
}

.checkbox-cntnr input:checked + label:before{
  background: #E38C2D;
}

.checkbox-cntnr:disabled label{
  color: #b8b8b8;
  cursor: auto;
}

.checkbox-cntnr:disabled label:before{
  box-shadow: none;
  background: #ddd;
}

.checkbox-cntnr input:checked + label:after{
  content: '';
  position: absolute;
  left: 7px;
  top: 10px;
  background: white;
  width: 3px;
  height: 3px;
  box-shadow:
    2px 0 0 white,
    4px 0 0 white,
    4px -2px 0 white,
    4px -4px 0 white,
    4px -6px 0 white,
    4px -8px 0 white;
  transform: rotate(45deg);
}

.search-bar .btn-cntnr{
  padding: .5em 0;
}

.search-bar .btn-cntnr .red-btn{
  font-size: .9em;
  margin-top: 1em;
  float: right;
  margin: auto;
}

.usr-infos{
  padding: 1em;
  background: rgb(249,249,249);
  -webkit-box-shadow: 0px 3px 11px -5px rgba(194,194,194,1);
-moz-box-shadow: 0px 3px 11px -5px rgba(194,194,194,1);
box-shadow: 0px 3px 11px -5px rgba(194,194,194,1);
}

.usr-forms h2{
  color: #DB4C2C;
  font-size: 1.2em;
  text-align: center;
}

.usr-forms h3{
  font-size: 1em;
  margin-bottom:-.6em;
  margin-top: .3em;
}

.usr-forms{
  margin: auto;
  margin-top: -3em;
}

.usr-forms input[type="text"], .usr-forms textarea{
  width: 100%;
}

.usr-btns{
  padding: 1em;
}

.usr-btns div{
  display: inline-block;
  vertical-align: top;
  margin: .3em;
  padding: .7em;
  border-radius: 50%;
  background: rgb(245,245,245);
  cursor: pointer;
}

.usr-btns .true{
  background: #DB4C2C;
}

.usr-btns .true img{
  filter: brightness(0) invert(1);
}

.usr-btns div img{
  width: 1.6em;
}

.settings{
  text-align: center;
}

.usr-profile{
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
}

.usr-profile1{
  width:80%;
}

.usr-profile{
  margin-top: 1em;
}

.usr-banner{
  background: transparent;
  margin-top: 8em;
  text-align: center;
  position: relative;
}

.usr-banner .banner-sub{
  right: 0;
  width: 50%;
  padding: 0 1em;
  overflow: hidden;
  margin: auto;
}

.usr-banner h1{
  font-size: 2em;
  font-weight: lighter;
  margin: 0;
}

.usr-banner img{
  width: 12em;
  height: 12em;
  border-radius: 50%;
  border: .5em solid  white;
  margin-top: -7em;
}

.usr-banner .banner-sub p{
  margin-right: 1em;
  display: inline-block;
  vertical-align: top;
  color: #DB4C2C;
  font-size: 1.3em;
  font-family: "sourcesansprosemibold";
}

.usr-banner .banner-sub p img{
  width: 1em;
  height: 1em;
  border-radius: 0;
  margin-top: -1em;
  vertical-align: .1em;
  border: none;
  margin: 0;
}

.usr-like-cntnr{
  text-align: center;
}

.usr-like-cntnr form, .usr-like-cntnr div{
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: .4em;
}

.usr-like-cntnr input[type="submit"]{
  padding-right: 2em !important;
  display: inline-block;
  text-align: left;
  position: relative;
}

.usr-like-cntnr img{
  position: absolute;
  margin-top: .7em;
  right: 1em;
  height: 1.2em;
  position: absolute;
  z-index: 4;
}

.usr-img-cntnr{
  background: rgb(241,241,241);
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  line-height:30px;
  padding: 0;
  margin: 0;
}

.usr-img-cntnr .flex-first{
  flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0.5rem;
    box-sizing: border-box;
}

.usr-img-cntnr .flex-first div{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usr-img-cntnr div:before {
  content: '';
  display: table;
  padding-top: 100%;
}

.usr-img-cntnr div img{
  width: 100%;
  height: auto;
  opacity: .9;
}

.usr-img-cntnr div img:hover{
  opacity: 1;
  cursor: pointer;
}

.usr-infos h3{
  text-align: center;
  font-family: "sourcesansprosemibold";
  font-weight: lighter;
  font-size: 1.4em;
  margin: 0;
}

.usr-infos .usr-show-tags{
  padding: .5em;
  text-align: center;
}

.usr-infos .usr-show-tags p{
  display: inline-block;
  vertical-align: top;
  font-family: "sourcesansprosemibold";
  margin-right: 1em;
}

.usr-infos .usr-description-cntnr{
  background: white;
  width: 70%;
  margin: auto;
  padding: 1em;
}

.not-found{
  width: 100vw;
  height: 100vh;
  margin: 0;
  margin-top: -.1em;
  padding: 0;
  text-align: center;
  padding-top: 5em;
}

.not-found img{
  border-radius: 50%;
  width: 15em;
  height: 15em;
  margin-top: 3em;
}

.not-found img:first-of-type{
  width: 4em;
  height: 4em;
  margin: 0;
}

.not-found .red-btn{
  width: 10em;
}

.score-cntnr{
  position: absolute;
  right: 0;
  padding: 1em;
  top: 0;
  color: #E38C2D;
  font-size: 1.2em;
  font-family: "sourcesansprosemibold";
}

.score-cntnr img{
  border: none;
  width: 1em;
  height: 1em;
  border-radius: 0;
  position: relative;
  margin: 0;
}

.conversation-cntnr, .chat-cntnr{
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  background: white;
  padding: 2em;
  margin-top: 1em;
}

.chat-cntnr{
  width: 40em;
}

.all-msg{
  margin-top: 2em;
  padding: .3em;
  height: 30em;
  display: flex;
  flex-direction: column-reverse;
  overflow: scroll;
}

.chat-cntnr .my-mssg, .chat-cntnr .other-mssg{
  display: block;
  padding: .1em;
  width: auto;
}

.chat-cntnr .my-mssg div, .chat-cntnr .other-mssg div{
  display: inline-block;
  background: rgb(241,241,241);
  border-radius: 1.1em;
  border-bottom-left-radius: .2em;
  padding: 1em;
  width: auto;
}

.chat-cntnr .my-mssg div{
  border-bottom-right-radius: .2em;
  border-bottom-left-radius: 1.1em;
  color: white;
  background: #54a0ff;
}

.chat-cntnr .my-mssg{
  text-align: right;
}

.chat-cntnr div img{
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin: 0 1em;
}

.unit-cntnr{
  padding: 1em;
  border-bottom: 1px solid #e4e4e4;
}

.conversation-cntnr a:last-of-type div{
  border: none;
}

.unit-cntnr:hover{
  background: rgb(248,248,248);
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.unit-cntnr img{
  display: inline-block;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  margin-top: -1.7em;
}

.notif-cntnr img{
  height: 2em;
  width: 2em;
  padding: 1em;
  background: rgb(245,245,245);
}

.min-usr{
  display: inline-block;
  vertical-align: top;
}

.min-usr img{
  border-radius: 50%;
  width: 5em;
  height: 5em;
  margin: .3em;
  cursor: pointer;
}

.conversation-cntnr h3, .chat-cntnr h3{
  color: #DB4C2C;
  font-size: 1em;
  margin: 0;
}

.chat-cntnr h3{
  text-align: center;
}

.unit-cntnr div{
  display: inline-block;
  vertical-align: -1em;
  margin-left: 1em;
}

.unit-cntnr div .unit-name{
  font-family: "sourcesansprosemibold";
  font-size: 1.1em;
}

.unit-cntnr div .unit-mssg{
  opacity: .7;
  font-size: .9em;
}

.chat-cntnr .back{
  width: 1.4em;
  margin-top: .4em;
  position: absolute;
}

.chat-cntnr #chat-log{
  text-align: center;
  margin-top: 3em;
  padding-top: 2em;
  -webkit-box-shadow: 0px -5px 8px -6px rgba(228,228,228,1);
  -moz-box-shadow: 0px -5px 8px -6px rgba(228,228,228,1);
  box-shadow: 0px -5px 8px -6px rgba(228,228,228,1);
}

.chat-cntnr #chat-log input[type='text']{
  border: 1px solid #e4e4e4;
  width: 80%;
  padding: 1em;
}

.chat-cntnr #chat-log input[type='text']::-webkit-input-placeholder{
  opacity: .3;
}

.submit, .submit:hover{
  width: 5em !important;
  background-image: url("/images/enter-arrow.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

@media screen and (min-width: 640px) {

  .nude{
    display: none;
  }

}

@media screen and (max-width: 640px) {

  .non-nude{
    display: none;
  }

}

@media screen and (max-width: 550px) {

  .basic-cntnr{
    width: 100%;
    margin: auto;
    padding: 1em;
    border-radius: .3em;
    box-sizing: border-box;
    padding-bottom: 4em;
  }

}

@media screen and (max-width: 940px) {

  .search-cntnr{
    display: flex;
    flex-direction: column;
  }

  .usrs, .search-bar, .suggestions-cntnr{
    margin: 0;
    padding: 1.5em;
    -webkit-box-shadow: 0px 3px 11px -7px rgba(194,194,194,1);
    -moz-box-shadow: 0px 3px 11px -7px rgba(194,194,194,1);
    box-shadow: 0px 3px 11px -7px rgba(194,194,194,1);
  }

  .usrs{
    background: transparent;
  }

  .search-bar{
    margin-top: -.1em;
    height: auto;
  }

  .check-rgt{
    float: right;
    margin-top: -2.5em;
  }

  .sliders-cntnr{
    display: flex;
  }

  .sliders-cntnr .sld{
    margin: .2em 1em 0 0em;
    flex: 1;
  }

  .ui-slider{
    margin-top: -.5em;
    border: 1px solid red;
    background: rgb(234,234,234) !important;
    border-radius: 3em !important;
  }

  .ui-slider .ui-slider-range {
    background: #EBC137;
  }

}

.bg_heart {
    overflow: hidden;
    margin-top: -.1em;
 }
.heart {
    z-index: -3;
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg)
 }

.heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

.heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}
@-ms-keyframes love {
  0%{top:110%}
}
@keyframes love {
  0%{top:110%}
}

.fake-user{
  text-align: center;
}
