<div class="com">
	<h1>Faites vous carresser le poil</h1>
	<div class="red-btn">Miaoowwwwww ! <img src="/images/foot.png"/></div>
</div>
<div class="sub-bck"></div>
<div class="com1">
	<div>
		<br/><br/>
		<h2>Rencontrez des petits cochons dans votre ville</h2><br/>
		<p>Petsder® est la meilleure plateforme pour trouver des petits cochons et des petites cochonnes près de chez-vous !
		<br/>Roses, blancs ou noirs, les petites cochons de Petsder® vont vous faire tirbouchonner de plaisir.</p>
	</div>
	<div><img src="/images/com1.png"/></div>
</div>
<div class="com2">
	<div>
		<img src="/images/heart.png"/>
		<p>+ de 10000 couples formés</p>
	</div>
	<div>
		<img src="/images/pulse-line.png"/>
		<p>+ d' 1M de messages envoyés</p>
	</div>
	<div>
		<img src="/images/chili.png"/>
		<p>+15% de réchauffement climatique</p>
	</div>
	<div>
		<img src="/images/fertility.png"/>
		<p>+ de 1000 croisements</p>
	</div>
</div>
<div class="com1">
	<div><img src="/images/com1-2.png"/></div>
	<div>
		<br/><br/>
		<h2>Matchez avec vos mamifères préférés !</h2><br/>
		<p>Que vous soyez un poulet, un âne ou un hypopotame, vous trouverez toujours quelqu'un fait pour vous
		<br/>Des milliers de mamifères célibataires près de chez-vous</p>
	</div>
</div>
<div class="com3">
	<h2>Trouvez un mamifère !</h2>
	<div class="red-btn">Miaoowwwwww ! <img src="/images/foot.png"/></div>
</div>
