<div class="com">
	<h1>Faites vous carresser le poil</h1>
	<div class="red-btn">Wouf woufer maintenant ! <img src="/images/foot.png"/></div>
</div>
<div class="sub-bck"></div>
<div class="com1">
	<div>
		<br/><br/>
		<h2>Rencontrez des petits cochons dans votre ville</h2><br/>
		<p>Petsder® est la meilleure plateforme pour trouver des petits cochons et des petites cochonnes près de chez-vous !
		<br/>Roses, blancs ou noirs, les petites cochons de Petsder® vont vous faire tirbouchonner de plaisir.</p>
	</div>
	<div><img src="/images/com1.png"/></div>
</div>
<div class="com2">
	<div>
		<img src="/images/heart.png"/>
		<p>+ de 10000 couples formés</p>
	</div>
	<div>
		<img src="/images/pulse-line.png"/>
		<p>+ d' 1M de messages envoyés</p>
	</div>
	<div>
		<img src="/images/chili.png"/>
		<p>+15% de réchauffement climatique</p>
	</div>
	<div>
		<img src="/images/fertility.png"/>
		<p>+ de 1000 croisements</p>
	</div>
</div>
<div class="com1">
	<div><img src="/images/com1-2.png"/></div>
	<div>
		<br/><br/>
		<h2>Matchez avec vos mamifères préférés !</h2><br/>
		<p>Que vous soyez un poulet, un âne ou un hypopotame, vous trouverez toujours quelqu'un fait pour vous
		<br/>Des milliers de mamifères célibataires près de chez-vous</p>
	</div>
</div>
<div class="com3">
	<h2>Trouvez un mamifère !</h2>
	<div class="red-btn">Wouf woufer maintenant ! <img src="/images/foot.png"/></div>
</div>
<h2>Choose location:</h2>
Location: <input type="text" id="us2-address" style="width: 200px"/>
<br/><br/>
<div id="somecomponent" style="width: 500px; height: 250px;"></div>
<br/>
<form id="myForm" action='/go' method="post">
	Lat.: <input type="text" id="us2-lat"/>
	Long.: <input type="text" id="us2-lon"/>
	<input type='submit' name='submit' value='Submit Location' />
</form>
<script>
    $('#somecomponent').locationpicker({
    location: {
        latitude: 48.8582,
        longitude: 2.3387
    },
    radius: 500,
    zoom: 15,
    mapTypeId: google.maps.MapTypeId.ROADMAP,
    styles: [],
    mapOptions: {},
    scrollwheel: true,
		inputBinding: {
      latitudeInput: $('#us2-lat'),
      longitudeInput: $('#us2-lon'),
      radiusInput: $('#us2-radius'),
      locationNameInput: $('#us2-address')
    },
    enableAutocomplete: false,
    enableAutocompleteBlur: false,
    autocompleteOptions: null,
    addressFormat: 'postal_code',
    enableReverseGeocode: true,
    draggable: true,
    onchanged: function(currentLocation, radius, isMarkerDropped) {},
    onlocationnotfound: function(locationName) {},
    oninitialized: function (component) {},
    // must be undefined to use the default gMaps marker
    markerIcon: undefined,
    markerDraggable: true,
    markerVisible : true
		}
		);
</script>
<h2>Default location:</h2>
<br/>
<i>I get these informations from user's IP address</i>
<p>-> latitude : <%= @lat %></p>
<p>-> longitude : <%= @lon %></p>
<br/>
<i>I get these informations from user's navigator</i>
<p>-> latitude : <%= params[:lat] %></p>
<p>-> longitude : <%= params[:lon] %></p>
<br/>
<% if signed_in? %>
<% end %>
<p id="demo">Getting your location... </p>
<div id="mapholder"></div>

<script>
getLocation();
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition,showError);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";}
}

function showPosition(position) {

    lat = position.coords.latitude;
    lon = position.coords.longitude;
    document.getElementById('lat').value = lat;
    document.getElementById('lon').value = lon;

    latlon = new google.maps.LatLng(lat, lon)
    mapholder = document.getElementById('mapholder')
    mapholder.style.height='250px';
    mapholder.style.width='500px';

    var myOptions={
    center:latlon,zoom:14,
    mapTypeId:google.maps.MapTypeId.ROADMAP,
    mapTypeControl:false,
    navigationControlOptions:{style:google.maps.NavigationControlStyle.SMALL}
    }

    var map = new google.maps.Map(document.getElementById("mapholder"),myOptions);
    var marker = new google.maps.Marker({position:latlon,map:map,title:"You are here!"});


}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            x.innerHTML = "User denied the request for Geolocation."
            break;
        case error.POSITION_UNAVAILABLE:
            x.innerHTML = "Location information is unavailable."
            break;
        case error.TIMEOUT:
            x.innerHTML = "The request to get user location timed out."
            break;
        case error.UNKNOWN_ERROR:
            x.innerHTML = "An unknown error occurred."
            break;
    }

}
</script>
<form id="myForm" action='/go' method="post">
  <input type='hidden' id="lat" name='lat' value='' />
  <input type='hidden' id="lon" name='lon' value='' />
  <input type='submit' name='submit' value='Submit Location' />
</form>
