<div class="conversation-cntnr">
  <h3>MESSAGES</h3>
  <% @conversations.each_hash do |c| %>
    <% c.to_dot %>
    <% init_conversation(c.user_id, c.conversation_id) %>
    <a href="/conversation/<%= @conversation.id %>/show">
      <div class="unit-cntnr">
        <img src="/files/<%= proper_img(@interlocutor.img1) %>"/>
        <div>
          <p class="unit-name"><%= @interlocutor.login.upcase %></p>
          <p class="unit-mssg"><%= @messages.fetch_hash.to_dot.content %></p>
        </div>
      </div>
    </a>
  <% end %>
</div>
