<div class="chat-cntnr">
  <a href="/conversation/index"><img src="/images/back.png" class="back"/></a>
  <h3>CONVERSATION AVEC JOBY</h3>
  <div class="my-mssg"><div>Hola</div><img src="/images/fake-usr2.jpg"/></div>
  <div class="my-mssg"><div>Tu parles Français ? :)</div><img src="/images/fake-usr2.jpg"/></div>
  <div class="other-mssg"><img src="/images/fake-usr3.jpg"/><div> Oui :) :)</div></div>
  <form>
    <input type="text" name="message" placeholder="Rédigez un message"/>
    <input type="submit" value="Envoyer"/>
  </form>
</div>
