<div class="not-found">
  <img src="/images/favicon.png"/><br/>
  <img src='https://media.giphy.com/media/iHp6V8DDTt7Lq/giphy.gif'/>
  <h1>Oops</h1>
  <h3>Nous n'avons pas pu trouver cette page</h3>
  <a href="/" class="red-btn">ACCUEIL</a>
</div>
