<%= erb(:'layouts/settings_header') %>
<div class="usr-forms basic-cntnr">
  <h2>MES INFORMATIONS</h2>
    <form method="POST" action="/edit-user">
      <h3>GENRE</h3>
      <div class="radio-cntnr">
        <p class="radio">
          <input type="radio" name="gender" id="kind1" value="Male">
          <label for="kind1"><img src="/images/male.png"/></label>
        </p>
        <p class="radio">
          <input type="radio" name="gender" id="kind2" value="Female">
          <label for="kind2"><img src="/images/female.png"/></label>
        </p>
      </div>
      <h3>INTÉRESSÉ PAR</h3>
      <div class="radio-cntnr">
        <p class="radio">
          <input type="radio" name="interested_in" id="match1" value="M">
          <label for="match1"><img src="/images/male.png"/></label>
        </p>
        <p class="radio">
          <input type="radio" name="interested_in" id="match2" value="F">
          <label for="match2"><img src="/images/female.png"/></label>
        </p>
        <p class="radio">
          <input type="radio" name="interested_in" id="match3" value="B">
          <label for="match3"><img src="/images/both.png"/></label>
        </p>
      </div>
        <h3>DESCRIPTION</h3>
        <textarea rows="3"name="description"/></textarea>
        <h3>NOM</h3>
        <input type="text" name="name"/>
        <h3>PRÉNOM</h3>
        <input type="text" name="firstname"/>
        <h3>EMAIL</h3>
        <input type="text" name="email"/>
        <br/><br/>
        <input type="submit" value="ENREGISTRER" class="red-btn"/>
  </form>
</div>
