<div class="usr-profile usr-profile2">
  <div class="usr-infos usr-infos2">
    <img src="/images/fake-usr.jpg"/>
    <h1>JOBY</h1>
    <div class="params1">Mes réglages <img src="/images/settings-work-tool.png"/></div>
    <div class="params3">Mes photos <img src="/images/photo-camera.png"/></div>
    <div class="params2">Localisation <img src="/images/placeholder.png"/></div>
  </div>
  <div class="usr-forms">
    <div class="tog toggle-img" style="display:none;">
      <%= erb(:'user/images') %>
    </div>
    <div class="tog toggle-set">
      <%= erb(:'user/settings') %>
    </div>
    <div class="tog toggle-loc" style="display:none;">
      <%= erb(:'user/location') %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $(".params1").click(function(){
      $(".tog").hide();
      $(".toggle-set").show();
    });
    $(".params2").click(function(){
      $(".tog").hide();
      $(".toggle-loc").show();
    });
    $(".params3").click(function(){
      $(".tog").hide();
      $(".toggle-img").show();
    });
  });
</script>
