<h1>Edit your profile</h1>
<form method="POST" action="/edit-user">
  <p>Name</p>
  <input type="" name="name"/>
  <p>Firstname</p>
  <input type="" name="firstname"/>
  <p>Gender</p>
  Male
  <input type="radio" name="interested_in" value="0"/>
  Female
  <input type="radio" name="interested_in" value="1"/>
  <p>Interested in</p>
  Men
  <input type="radio" name="interested_in" value="men"/>
  Girls
  <input type="radio" name="interested_in" value="girls"/>
  Both
  <input type="radio" name="interested_in" value="both"/>
  <p>Bio</p>
  <input type="text" name="bio"/>
  </br>
  <input type="submit" value="EDIT PROFILE"/>
</form>
