<% if signed_in? %>
  <%= erb(:'layouts/settings_header') %>
<% else %>
  <br/><br/><br/>
<% end %>
<div class="usr-forms basic-cntnr">
  <h2>MODIFIER LE MOT DE PASSE</h2>
  <form method="POST" action="/edit-password">
    <p>Mot de passe</p>
    <input type="password" name="password" class="field"/>
    <p>Confirmation</p>
    <input type="password" name="password_confirmation" class="field"/>
    <input type="hidden" name="token" value="<%= params['token'] %>"/>
    <input type="hidden" name="id" value="<%= params['id'] %>"/>
    <br/><br/>
    <input type="submit" value=" " class="red-btn submit">
  </form>
</div>
