<h1>Edit your profile</h1>
<form method="POST" action="/edit-user">
  <p>Gender</p>
  Male
  <input type="radio" name="gender" value="0"/>
  Female
  <input type="radio" name="gender" value="1"/>
  <p>Interested in</p>
  Men
  <input type="radio" name="interested_in" value="men"/>
  Girls
  <input type="radio" name="interested_in" value="girls"/>
  Both
  <input type="radio" name="interested_in" value="both"/>
  <p>Bio</p>
  <input type="text" name="bio"/>
  </br>
  Add tags & images here
  <input type="hidden" value="<%= current_user.id %>" name="id"/>
  <input type="submit" value="EDIT PROFILE"/>
</form>
