<h1>Create your new password</h1>
<form method="POST" action="/edit-password">
  <p>Password</p>
  <input type="password" name="password"/>
  <p>Password confirmation</p>
  <input type="password" name="password_confirmation"/>
  <input type="hidden" name="token" value='<%= params[:token] %>'/>
  <input type="hidden" name="id" value="<%= params[:id] %>"/>
  <br/>
  <input type="submit" value="EDIT PASSWORD"/>
</form>
