<div class="red-cntnr">
  <div class="basic-cntnr">
    <h1>Mot de passe oublié ?</h1>
    <form method="POST" action="/send-password-email">
      <p class="label">Email</p>
      <input type="text" name="email" class="field"/>
      <br/><br/>
      <input type="submit" value=" " class="red-btn submit"/>
    </form>
  </div>
</div>
