<h1>Forgot password ?</h1>
<p>Please enter your email so you can reset your password :</p>
<form method="POST" action="/send-password-email">
  <input type="text" name="email"/>
  <input type="submit" value="RESET PASSWORD"/>
</form>
