<%= erb(:'layouts/settings_header') %>
<div class="usr-forms basic-cntnr">
	<h2>LOCALISATION</h2>
	<form id="myForm" action='/set-location' method="post">
		<input type="text" id="us2-address" name='city' style="width: 200px"/>
		<br/>
		<div id="somecomponent" style="width: 100%; height: 250px; margin:auto;"></div>
		<br/>
		<input type="hidden" id="us2-lat" name='latitude'/>
		<input type="hidden" id="us2-lon" name='longitude'/>
		<input type='submit' value='UTILISER COMME POSITION' class="red-btn" />
	</form>
	<br/><br/>
	<h2>LOCALISATION PAR DÉFAUT</h2>
	<i>Ces informations seront issues de votre navigateur</i>
	<br/><br/>
	<form id="myForm" action='/set-location' method="post">
	  <input type='hidden' id="lat" name='latitude' value='<%= params[:lat] %>' />
	  <input type='hidden' id="lon" name='longitude' value='<%= params[:lon] %>' />
	  <input type='submit' value='ME LOCALISER' class="red-btn" />
	</form>
</div>
<script type="text/javascript" src='/javascript/location.js'></script>
