<div class="basic-cntnr">
  <h1>Connexion</h1>
  <form action="/login" method="POST">
    <p class="label">Login</p>
    <input type="text" name="login" class="field">
    <p class="label">Mot de passe</p>
    <input type="password" name="password" class="field">
    <br/><br/>
    <input type="submit" value=" " class="red-btn submit">
  </form>
  <br/><br/>
  <a href="/forgot-password">Mot de passe oublié ?</a>
  <p>Pas encore inscris ? <a href="/user/new">Je m'inscris</a></p>
</div>
