<h1>Sign up</h1>
<form method="POST" action="/new">
	<p>Email</p>
	<input type="text" name="email">
	<p>Login</p>
	<input type="text" name="login">
	<p>Firstname</p>
	<input type="text" name="firstname">
	<p>Name</p>
	<input type="text" name="name">
	<p>Password</p>
	<input type="password" name="password">
	<p>Password confirmation</p>
	<input type="password" name="password_confirmation">
	<input type="submit" value="SIGN IN">
</form>
