<h1>Sign in</h1>
<form method="POST" action="/new">
	<p>Email</p>
	<input type="text" name="email">
	<p>Login</p>
	<input type="text" name="login">
	<p>Password</p>
	<input type="password" name="password">
	<p>Password confirmation</p>
	<input type="password" name="password_confirmation">
	<input type="submit">
</form>
<h1>Click on the link below to confirm your email :</h1><br/>
