<h2>INFORMATIONS</h2>
<form method="POST" action="/edit-infos">
    <h3>NOM</h3>
    <input type="text" name="name"/>
    <h3>PRÉNOM</h3>
    <input type="text" name="firstname"/>
    <h3>EMAIL</h3>
    <input type="text" name="email"/>
    <br/><br/>
    <input type="submit" value="MODIFIER" class="red-btn"/>
</form>
<h2>NOUVEAU MOT DE PASSE</h2>
<form method="POST" action="/edit-password">
    <h3>ANCIEN MOT DE PASSE</h3>
    <input type="text" name="old_password"/>
    <h3>NOUVEAU MOT DE PASSE</h3>
    <input type="text" name="new_password"/>
    <br/><br/>
    <input type="submit" value="ENREGISTRER" class="red-btn"/>
</form>
