<h2>MES RÉGLAGES</h2>
  <form method="POST" action="/edit-user">
    <h3>GENRE</h3>
    <div class="radio-cntnr">
      <p class="radio">
        <input type="radio" name="gen" id="kind1" value="male" checked>
        <label for="kind1"><img src="/images/male.png"/></label>
      </p>
      <p class="radio">
        <input type="radio" name="gen" id="kind2" value="female">
        <label for="kind2"><img src="/images/female.png"/></label>
      </p>
    </div>
    <h3>INTÉRESSÉ PAR</h3>
    <div class="radio-cntnr">
      <p class="radio">
        <input type="radio" name="interested_in" id="match1" value="guy" checked>
        <label for="match1"><img src="/images/male.png"/></label>
      </p>
      <p class="radio">
        <input type="radio" name="interested_in" id="match2" value="female">
        <label for="match2"><img src="/images/female.png"/></label>
      </p>
      <p class="radio">
        <input type="radio" name="interested_in" id="match3" value="both">
        <label for="match3"><img src="/images/both.png"/></label>
      </p>
      <p class="radio">
        <input type="radio" name="interested_in" id="match4" value="cat">
        <label for="match4"><img src="/images/cat-2.png"/></label>
      </p>
    </div>
      <h3>DESCRIPTION</h3>
      <textarea rows="3"name="bio"/></textarea>
      <h3>EMAIL</h3>
      <input type="text" name="email"/>
      <h3>TAGS</h3>
      <input type="text" name="all_tags" placeholder="séparés par une virgule..."/>
      <h3>VOS TAGS ACTUELS</h3>
      <% current_user.taggings.all.each do |tag| %>
        <%= tag.name %>,
      <% end %>
      <br/>
      <input type="submit" value="ENREGISTRER" class="red-btn"/>
      <br/>
      <br/>
  </form>
