<div class="usr-profile">
  <div class="usr-banner">
    <img src="/images/fake-usr.jpg"/>
    <h1 class="name">JOBY</h1>
    <div class="banner-sub">
      <p><img src="/images/age.png"/> 10 ans</p>
      <p><img src="/images/location.png"/> Paris</p>
      <p><img src="/images/gender-symbols.png"/> Male</p>
    </div>
  </div>
  <div class="usr-infos">
    <div class="usr-like-cntnr">
      <form action="">
        <img src='/images/like-2.png'/>
        <input type="submit" value="LIKER" class="red-btn">
      </form>
    </div>
    <h3>PHOTOS</h3>
    <div class="usr-img-cntnr">
      <div class="flex-first">
        <div><img src="/images/fake-usr.jpg"></div>
      </div>
      <div class="flex-first">
        <div><img src="/images/fake-monkey.jpg"></div>
      </div>
      <div class="flex-first">
        <div><img src="/images/empty.png"></div>
      </div>
      <div class="flex-first">
        <div><img src="/images/empty.png"></div>
      </div>
      <div class="flex-first">
        <div><img src="/images/empty.png"></div>
      </div>
    </div>
    <div class="usr-show-tags">
      <p>#bananes</p>
      <p>#fessesrouges</p>
      <p>#papillons</p>
    </div>
  </div>
</div>
