<h2>ILS ONT VISITÉ MON PROFIL</h2>
<div class="min-usr">
  <img src="/images/fake-usr2.jpg"/>
</div>
<div class="min-usr">
  <img src="/images/fake-usr3.jpg"/>
</div>
<div class="min-usr">
  <img src="/images/fake-usr4.jpg"/>
</div>
