<%= erb(:'layouts/settings_header') %>
<div class="usr-forms basic-cntnr center-cntnt">
  <h2>ILS ONT LIKÉ MON PROFIL</h2>
  <% @likes.each do |like| %>
    <% like.to_dot %>
    <a href="/user/<%= like.sender_id %>/show">
      <div class="min-usr">
        <img src="/files/<%= proper_img(get_img(like.sender_id).img1) %>"/>
      </div>
    </a>
  <% end %>
</div>
