<header>
	<a href="/"><img src="/images/logo.png"></a>
	<div>
    <!-- <a href="/users">All users</a> -->
		<% if signed_in? %>
			<a href="/user/show"><img src="/images/user.png"/></a>
			<a href="#"><img src="/images/message.png"/></a>
			<a href="#"><img src="/images/likes.png"/></a>
			<a href="/edit"><img src="/images/settings.png"/></a>
			<a href="/logout"><img src="/images/logout.png"/></a>
		<% else %>
			<a href="/user/new" class="red-btn">Inscription</a>
			<a href="/user/login" class="white-btn">Connexion</a>
		<% end %>
	</div>
</header>
