<header>
	<% if signed_in? %>
		<div class="right-links">
			<a href="/user/<%= current_user.id %>/show" class="header-icn"><img src="/images/user.png"/></a>
			<a href="/edit" class="header-icn"><img src="/images/settings.png"/></a>
		</div>
	<% end %>
	<a href="/" class="non-nude"><img src="/images/logo.png"></a>
	<a href="/" class="nude"><img src="/images/favicon.png"></a>
	<div>
		<% if signed_in? %>
			<a href="/conversation/index" class="header-icn"><img src="/images/message.png"/><span class="counter"><%= message_count %></span></a>
			<a href="/notification/index" class="header-icn"><img src="/images/notification.png"/><span class="counter"><%= notification_count %></span></a>
			<a href="/logout" class="header-icn"><img src="/images/logout.png"/></a>
		<% else %>
			<a href="/user/new" class="red-btn non-nude">Inscription</a>
			<a href="/user/login" class="white-btn non-nude">Connexion</a>
			<a href="/user/login" class="nude nude-img"><img src="/images/animal-track.png"/></a>
		<% end %>
	</div>
</header>
